In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('yellow_tripdata_2022-03.parquet')
df.head()

     ride_id  predicted_duration
0  2022/03_0           14.287470
1  2022/03_1           10.045199
2  2022/03_2           28.390979
3  2022/03_3           18.866162
4  2022/03_4           18.508053

In [3]:
df['predicted_duration'].mean()

12.758556818790902